@keyframes progress-bar {
  0% {
    transform: scaleX(0); }
  17% {
    transform: scaleX(0.18); }
  24% {
    transform: scaleX(0.4);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1); }
  46% {
    transform: scaleX(0.81);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  100% {
    transform: scaleX(1); } }
@keyframes site {
  0% {
    transform: translateY(9999px); }
  100% {
    transform: translateX(0); } }
@keyframes dishes {
  0% {
    transform: translate(10px); }
  30% {
    transform: translate(30px);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1); }
  60% {
    transform: translate(70px);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  100% {
    transform: translate(0); } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background: whitesmoke; }

i {
  width: 3rem; }

ul {
  list-style-type: none; }

.loading {
  margin: 40rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  z-index: -1; }

.loading .progress {
  width: 50vw;
  height: 3vw; }

.loading .progress-bar {
  background: linear-gradient(to right, #9356dc, #ff79da, #99e2d0);
  height: 100%;
  transform-origin: left;
  transform: scaleX(0.5);
  animation: progress-bar 3000ms 150ms both;
  animation-fill-mode: both; }

.main-accueil {
  animation: site 500ms 3100ms both;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2rem; }

.heading-home {
  margin-bottom: 4rem;
  line-height: 4rem;
  font-weight: 600;
  font-size: 3rem; }

@media (min-width: 480px) {
  .heading-home-sub {
    text-align: center; } }

.heading-menu {
  position: relative;
  margin-top: 4rem;
  font-family: "Shrikhand", cursive;
  font-size: 2.4rem;
  max-width: 48rem; }
  @media (min-width: 480px) {
    .heading-menu {
      font-size: 4rem; } }

.menu-heart {
  position: absolute;
  top: 0;
  right: 0; }
  .menu-heart:hover .filled {
    transition: opacity 300ms ease-in-out;
    opacity: 1; }

.filled {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

.heading-menu-sub {
  position: relative;
  margin-top: 8rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: #4d4d4d;
  text-transform: uppercase; }
  .heading-menu-sub:after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 4.8rem;
    bottom: 0;
    left: 0;
    background: #99e2d0; }

h3 {
  font-size: 1.3333333333rem; }

.logo-bottom {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-size: 3rem; }

.operation {
  background: #fff; }

a {
  color: #4d4d4d;
  text-decoration: none; }

.btn {
  position: relative;
  margin: 4rem auto;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  box-shadow: 2rem 2rem 4rem #b3b3b3;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 1; }
  .btn:hover::after {
    opacity: 1;
    border-radius: 4rem; }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #ff93e1, #a16be0);
    box-shadow: 2rem 2rem 4rem #a6a6a6;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    border-radius: 4rem; }

.loading-spinner {
  animation: loading-spinner 3s; }

.logo-top {
  position: relative;
  font-family: "Shrikhand", cursive;
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  line-height: 10rem;
  background: #fff; }

.fa-arrow-left {
  position: absolute;
  top: 3.4rem;
  left: 2rem;
  font-size: 3rem;
  color: gray; }

.header {
  width: 100%;
  text-align: center;
  background: whitesmoke; }

.header-menu {
  max-height: 900px;
  overflow: hidden; }

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 4rem;
  background: linear-gradient(to bottom, #d1d1d1, #ededed 12%); }
  .city i {
    margin-right: 4rem; }

.highlight {
  margin: 4rem; }

footer {
  padding: 4rem;
  line-height: 4rem;
  color: #fff;
  background-color: #4d4d4d; }

.footer {
  position: relative;
  top: -8rem; }

.footer-sub {
  max-width: 1170px;
  margin: auto; }

.logo-bottom {
  margin-bottom: 2rem; }

.operation,
.restaurants {
  padding: 4rem; }

.restaurants {
  margin-bottom: 8rem; }

.operation ul {
  max-width: 36rem;
  margin: auto; }

.restaurants-wrap {
  margin: auto; }
  @media (min-width: 480px) {
    .restaurants-wrap {
      max-width: 48rem; } }

.step {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 4rem auto;
  padding: 2rem 2rem 2rem 4rem;
  font-size: 1.4285714286rem;
  font-weight: 500;
  background: #ededed;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 4rem #cccccc; }
  @media (min-width: 480px) {
    .step {
      font-size: 2rem; } }
  .step:hover {
    background: #f2eafb; }
    .step:hover i {
      color: #9356dc; }
  .step i {
    color: gray; }
  .step span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    color: #fff;
    border-radius: 4rem;
    background: #9356dc;
    text-align: center;
    top: 2rem;
    left: -1.5rem; }

.cards {
  position: relative;
  margin: 4rem auto;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 4rem #cccccc; }
  .cards img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 2rem 2rem 0 0; }
  .cards .tag {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 1rem;
    font-weight: 500;
    color: #278870;
    background: #99e2d0; }
  .cards h3, .cards p {
    padding: 0 2rem;
    font-size: 1.3333333333rem; }

.cards-wrapper {
  height: 24rem; }

.home-heart {
  position: absolute;
  bottom: 0;
  right: 4rem;
  z-index: 5; }
  .home-heart img {
    height: auto; }
  .home-heart:hover .filled {
    transition: opacity 300ms ease-in-out;
    opacity: 1; }

.restaurant {
  position: relative;
  top: -8rem;
  max-width: 1170px;
  margin: auto;
  padding: 4rem;
  background: #fff;
  border-radius: 4rem 4rem 0 0; }

.restaurant-wrap {
  max-width: 48rem;
  margin: auto; }

.starters {
  animation: site 900ms 300ms both; }

.dishes {
  animation: site 900ms 600ms both; }

.desserts {
  animation: site 900ms 900ms both; }

.dish-bg {
  position: relative;
  max-width: 48rem;
  background: #99e2d0;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 4rem #cccccc;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
  .dish-bg:hover i {
    transform: rotate(360deg); }

.fa-check {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem 0.6666666667rem;
  text-align: center;
  color: #99e2d0;
  background: white;
  border-radius: 50%;
  transition: transform 300ms; }

.dish {
  position: relative;
  margin: 4rem auto 0;
  padding: 2rem;
  white-space: nowrap;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 4rem #cccccc; }
  .dish h3 {
    overflow: hidden;
    text-overflow: ellipsis; }
  .dish p {
    padding: 0;
    font-size: 1.3333333333rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .dish span {
    font-size: 1.3333333333rem;
    font-weight: 600; }
  .dish:hover {
    margin-right: 8rem;
    border-radius: 2rem 0 0 2rem;
    transition: margin-right 300ms ease-in-out;
    box-shadow: 0 2rem 4rem #cccccc; }

.menu-detail {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.order {
  max-width: 200px;
  margin: 8rem auto; }
  .order a {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
