*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background: whitesmoke; }

i {
  width: 3rem; }

ul {
  list-style-type: none; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2rem; }

.heading-home {
  margin-bottom: 4rem;
  font-weight: 600;
  font-size: 3rem; }

@media (min-width: 480px) {
  .heading-home-sub,
  .heading-menu {
    text-align: center; } }

.heading-menu {
  position: relative;
  font-family: "Shrikhand", cursive;
  font-size: 2.4rem; }
  .heading-menu .fa-heart {
    position: absolute;
    top: 1rem;
    right: 0; }

.heading-menu-sub {
  position: relative;
  margin-top: 8rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: #4d4d4d;
  text-transform: uppercase; }
  .heading-menu-sub:after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 4.8rem;
    bottom: 0;
    left: 0;
    background: #99e2d0; }

h3 {
  font-size: 1.3333333333rem; }

.logo-bottom {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-size: 3rem; }

.operation {
  background: #fff; }

a {
  color: #4d4d4d;
  text-decoration: none; }

.btn {
  max-width: 450px;
  margin: 4rem auto;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  box-shadow: 0.275rem 0.55rem 0.55rem #e6e6e6;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: background-color 250ms; }
  .btn:hover {
    background: #9356dc;
    color: #99e2d0; }

.logo-top {
  position: relative;
  font-family: "Shrikhand", cursive;
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  line-height: 10rem;
  background: #fff; }

.fa-arrow-left {
  position: absolute;
  top: 3.4rem;
  left: 2rem;
  font-size: 3rem;
  color: gray; }

.header {
  width: 100%;
  text-align: center;
  background: whitesmoke; }
  .header__logo {
    color: #ff79da; }

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 2rem;
  background: linear-gradient(to bottom, #d1d1d1, #ededed 12%); }
  .city i {
    margin-top: 2rem; }

.highlight {
  margin: 4rem; }

footer {
  padding: 4rem;
  line-height: 4rem;
  color: #fff;
  background-color: #4d4d4d; }

.logo-bottom {
  margin-bottom: 2rem; }

.operation,
.restaurants {
  padding: 4rem; }

.operation ul {
  max-width: 400px;
  margin: auto; }

.restaurants-wrap {
  margin: auto; }
  @media (min-width: 480px) {
    .restaurants-wrap {
      max-width: 600px; } }

.step {
  position: relative;
  margin: 4rem auto;
  padding: 2rem 4rem;
  font-size: 1.4285714286rem;
  font-weight: 500;
  background: whitesmoke;
  border-radius: 2rem;
  box-shadow: 0.275rem 0.55rem 0.55rem #e6e6e6; }
  @media (min-width: 480px) {
    .step {
      padding: 2rem 4.8rem;
      font-size: 2rem; } }
  .step:hover {
    background: #f2eafb; }
    .step:hover i {
      color: #9356dc; }
  .step i {
    margin-top: 2rem;
    color: gray; }
  .step span {
    position: absolute;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    color: #fff;
    border-radius: 4rem;
    background: #9356dc;
    text-align: center;
    top: 3rem;
    left: -1.5rem; }

.cards {
  position: relative;
  margin: 4rem auto;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0.275rem 0.55rem 0.55rem #e6e6e6; }
  .cards img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 2rem 2rem 0 0; }
  .cards h3, .cards p {
    padding: 0 2rem;
    font-size: 1.3333333333rem; }
  .cards i {
    position: absolute;
    bottom: 1.6rem;
    right: 2rem;
    font-size: 2rem; }
    .cards i:hover {
      background: linear-gradient(to bottom, #ff79da, #9356dc); }

.restaurant {
  padding: 4rem;
  border-radius: 4rem 4rem 0 0; }

.dish {
  position: relative;
  max-width: 600px;
  margin: 4rem auto 0;
  padding: 1.3333333333rem 2rem;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0.275rem 0.55rem 0.55rem #e6e6e6; }
  .dish p {
    padding: 0;
    font-size: 1.3333333333rem; }
  .dish span {
    position: absolute;
    display: block;
    right: 2rem;
    bottom: 2rem;
    font-size: 1.3333333333rem;
    font-weight: 600; }

.order {
  max-width: 200px;
  margin-bottom: 12rem; }
  .order a {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
