.operation,
.restaurants {
  padding: $size;
}

.restaurants {
  margin-bottom: $size * 2;
  &-heading {
    margin-top: $size/3;
  }
  &-img {
    width: 100%;
    height: $size * 4;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: $border-rad/2 $border-rad/2 0 0;
  }
  &-wrap {
    margin: auto;
    @media (min-width: 480px) {
      max-width: $size * 12;
    }
  }
}

.operation ul {
  max-width: $size * 9;
  margin: auto;
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  height: $size;
  margin: $size auto;
  padding: $size/2 $size/2 $size/2 $size;
  font-size: $size/2.8;
  font-weight: $font-weight + 100;
  background: darken($color-white, 7);
  border-radius: $border-rad/2;
  box-shadow: $size/2 $size/2 $size darken($color-white, 20);
  @media (min-width: 480px) {
    font-size: $font-size/2;
  }
  &:hover {
    background: lighten($color-primary, 35);
    & i {
      color: $color-primary;
    }
  }
  & i {
    color: darken($color-white, 50);
  }
  & span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size;
    width: $size;
    color: $color-white;
    border-radius: $border-rad;
    background: $color-primary;
    text-align: center;
    top: $size * 0.5;
    left: -$size * 0.375;
  }
}

.cards {
  position: relative;
  margin: $size auto;
  background: $color-white;
  border-radius: $border-rad/2;
  box-shadow: $size/2 $size/2 $size darken($color-white, 20);
  & .tag {
    position: absolute;
    top: $size/2;
    right: $size/2;
    padding: $size/4;
    font-weight: $font-weight + 100;
    color: darken($color-tertiary, 40);
    background: $color-tertiary;
  }
  & h3,
  & p {
    padding: 0 $size/2;
    font-size: $font-size/3;
  }
  &-wrapper {
    height: $size * 6;
  }
}

.home-heart {
  position: absolute;
  bottom: $size/2;
  right: $size;
  z-index: 5;
  & img {
    height: auto;
  }
  &:hover .empty {
    transition: opacity 300ms ease-in-out;
    opacity: 0;
  }
  &:hover .filled {
    transition: opacity 300ms ease-in-out;
    opacity: 1;
  }
}

.restaurant {
  position: relative;
  top: -$size * 2;
  max-width: 1170px;
  margin: auto;
  padding: $size;
  background: $color-white;
  border-radius: $border-rad $border-rad 0 0;
  &-wrap {
    max-width: $size * 12;
    margin: auto;
  }  
}

.starters {
  animation: site 900ms 300ms both;
}

.dishes {
  animation: site 900ms 600ms both;
}

.desserts {
  animation: site 900ms 900ms both;
}

.fa-check {
  position: absolute;
  top: $size/2;
  right: $size/2;
  padding: $size/4 $size/6;
  text-align: center;
  color: #99e2d0;
  background: white;
  border-radius: 50%;
  transition: transform 500ms;
}

.dish {
  position: relative;
  margin: $size auto 0;
  padding: $size/2;
  white-space: nowrap;
  background: $color-white;
  border-radius: $border-rad/2;
  box-shadow: $size/4 $size/4 $size darken($color-white, 20);
  &-bg {
    position: relative;
    max-width: $size * 12;
    background: $color-tertiary;
    border-radius: $border-rad/2;
    box-shadow: $size/2 $size/2 $size darken($color-white, 20);
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &:hover {
      i {
        transform: rotate(360deg);
      }
    }
  }
  & h3 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & p {
    padding: 0;
    font-size: $font-size/3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & span {
    font-size: $font-size/3;
    font-weight: $font-weight + 200;
  }
  &:hover {
    margin-right: $size * 2;
    border-radius: $border-rad/2 0 0 $border-rad/2;
    transition: margin-right 300ms ease-in-out;
    box-shadow: 0 $size/2 $size darken($color-white, 20);
  }
}

.menu-detail {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.order {
  max-width: 200px;
  margin: $size * 2 auto;
  & a {
    color: $color-white;
  }
}
