.operation,
.restaurants {
  padding: $size;
}

.operation ul {
  max-width: 400px;
  margin: auto;
}

.restaurants-wrap {
  margin: auto;
  @media (min-width: 480px) {
    max-width: 600px;
  }
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  height: $size;
  margin: $size auto;
  font-size: $size/2.8;
  font-weight: $font-weight + 100;
  background: darken($color-white, 7);
  border-radius: $border-rad/2;
  box-shadow: $size/2 $size/2 $size darken($color-white, 20);
  @media (min-width: 480px) {
    padding: $size/2 $size * 1.2;
    font-size: $font-size/2;
  }
  &:hover {
    background: lighten($color-primary, 35);
    & i {
      color: $color-primary;
    }
  }
  & i {
    color: darken($color-white, 50);
  }
  & span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size;
    width: $size;
    color: $color-white;
    border-radius: $border-rad;
    background: $color-primary;
    text-align: center;
    top: $size * 0.5;
    left: -$size * 0.375;
  }
}

.cards {
  position: relative;
  margin: $size auto;
  background: $color-white;
  border-radius: $border-rad/2;
  box-shadow: $size/2 $size/2 $size darken($color-white, 20);
  & img {
    width: 100%;
    height: $size * 4;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: $border-rad/2 $border-rad/2 0 0;
  }
  & .tag {
    position: absolute;
    top: $size/2;
    right: $size/2;
    padding: $size/4;
    font-weight: $font-weight + 100;
    color: darken($color-tertiary, 40);
    background: $color-tertiary;
  }
  & h3,
  & p {
    padding: 0 $size/2;
    font-size: $font-size/3;
  }
  & i {
    position: absolute;
    bottom: $size * 0.4;
    right: $size/2;
    font-size: $font-size * 0.5;
    &:hover {
      background: $linear-gradient;
    }
  }
}

.restaurant {
  padding: $size;
  border-radius: $border-rad $border-rad 0 0;
}

.starters,
.dishes,
.desserts {
  max-width: 600px;
  margin: auto;
}

.dish {
  position: relative;
  max-width: 600px;
  margin: $size auto 0;
  padding: $size/3 $size/2;
  background: $color-white;
  border-radius: $border-rad/2;
  box-shadow: $size/2 $size/2 $size darken($color-white, 20);
  & p {
    padding: 0;
    font-size: $font-size/3;
  }
  & span {
    position: absolute;
    display: block;
    right: $size/2;
    bottom: $size/2;
    font-size: $font-size/3;
    font-weight: $font-weight + 200;
  }
  &:hover {
    background: $color-tertiary;
    margin-right: $size;
    transition: margin-right 2s ease-in-out;
  }
}

.order {
  max-width: 200px;
  margin-bottom: $size * 3;
  & a {
    color: $color-white;
  }
}
