.loading-spinner {
  animation: loading-spinner 3s;
}

.logo-top {
  position: relative;
  font-family: "Shrikhand", cursive;
  font-weight: $font-weight + 400;
  font-size: $font-size;
  text-align: center;
  line-height: $size * 2.5;
  background: $color-white;
}

.fa-arrow-left {
  position: absolute;
  top: $size * 0.85;
  left: $size/2;
  font-size: $font-size * 0.75;
  color: darken($color-white, 50);
}

.header {
  width: 100%;
  text-align: center;
  background: darken($color-white, 4);
  &-menu {
    max-height: 900px;
    overflow: hidden;
  }
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight + 100;
  padding: $size;
  background: linear-gradient(
    to bottom,
    darken($color-white, 18),
    darken($color-white, 7) 12%
  );
  & i {
    margin-right: $size;
  }
}

.highlight {
  margin: $size;
}
