*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
}

body {
  background: darken($color-white, 4);
}

i {
  width: $size * 0.75;
}

ul {
  list-style-type: none;
}
