body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

.heading-home {
  font-weight: 600;
  font-size: map-get($font-size, heading);
}

.logo-bottom {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.operation {
  background: $color-white;
}

a {
  color: darken($color-gray, 70);
  text-decoration: none;
}
