@mixin shadow($color: darken($color-gray, 10), $offset: $shadow-size) {
  box-shadow: $offset/2 $offset $offset $color;
}

@mixin border($color: $color-primary) {
  border: 0.1rem solid $color;
}

@mixin img-ratio {
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

@mixin btn {
  margin: 50px auto;
  padding: $grid-gutter * 1.1 $grid-gutter * 2;
  font-size: map-get($font-size, logo);
  color: $color-white;
  background: linear-gradient(to bottom, $color-secondary, $color-primary);
  @include shadow;
  border: none;
  border-radius: $border-rad;
  cursor: pointer;
  &:hover {
    background: $color-primary;
    color: $color-tertiary;
  }
  &--full-width {
    width: 100%;
    margin: 0 auto;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, large-phones)) {
    @content;
  }
}
