@mixin shadow($color: darken($color-white, 10), $offset: $shadow-size) {
  box-shadow: $offset/2 $offset $offset $color;
}

@mixin btn {
  max-width: 450px;
  margin: $size auto;
  padding: $size/2 $size * 0.75;
  text-align: center;
  font-size: $font-size/2;
  color: $color-white;
  background: linear-gradient(to bottom, $color-secondary, $color-primary);
  @include shadow;
  border: none;
  border-radius: $border-rad;
  cursor: pointer;
  transition: background-color 250ms;
  &:hover {
    background: $color-primary;
    color: $color-tertiary;
  }
}

@mixin mobile-only {
  @media screen and (min-width: map-get($breakpoints, landscape-phones)) {
    @content;
  }
}
