$size: 4rem;
$font-size: 4rem;
$font-weight: 400;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #fff;

$linear-gradient: linear-gradient(to bottom, $color-secondary, $color-primary);

$border-rad: 4rem;

$box-shadow: $size $size $size darken($color-white, 10);

$shadow-size: 0.55rem;
$layout-margin: 7rem;
$grid-gutter: $layout-margin * 0.25;

$breakpoints: (
  landscape-phones: 480px,
  large-phones: 600px,
  landscape-tablets: 768px,
  desktops: 992px,
  large-desktops: 1200px,
);
